<!DOCTYPE HTML>
<html>
    <head>

    </head>
    <body>
        <div class="col-6">
            <img src="" alt="">
        </div>
        <div class="col-6">
            <h1>Welcome to UNDG!</h1>
            <h2>Login below:</h2>
            <form>

            </form>
            <button>Or register</button>
        </div>
    </body>
</html>
